#PageMatrimony {
    .ant-tabs-tab {
        font-weight: bold;
        font-size: 14px;
        color: #fff !important;
        background-color: #2e7d32 !important; 
        padding: 10px 20px !important;
        border-radius: 8px 8px 0 0 !important;
        margin: 4px !important;
        border: 2px solid #1b5e20 !important; 

        &:hover {
            background-color: #1b5e20 !important;
        }

        &.ant-tabs-tab-active {
            background-color: #fff !important; 
            color: #2e7d32 !important; 
            border: 2px solid #1b5e20 !important; 
            border-bottom: none !important; 
            box-shadow: none !important; 

            .ant-tabs-tab-btn {
                color: #2e7d32 !important; 
                text-shadow: none !important;
            }
        }

        &:focus:not(:focus-visible) {
            color: #fff;
        }
    }

    
    .ant-tabs-ink-bar {
        display: none !important;
    }
}
